<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/button.css" rel="stylesheet" type="text/css">
    <link href="/static/css/word.css" rel="stylesheet" type="text/css">
    <link href="/static/css/select.css" rel="stylesheet" type="text/css">
    <script src="/static/js/button.js"></script>
</head>
<body background="/static/img/im.png">
    <!-- 单词音频 -->
    <audio id="music"></audio>
    <!-- 主体功能 -->
    <div id="select">
        <button id="start" onclick="select()">开始</button>
       <select id="so" >
           {{range $key,$vaule:=.option}}
           <option>{{$vaule}}</option>
           
           {{end}}
       </select>
       <button id="b5" onclick="jumpAdmin()">后台</button>
    </div>
    <br>
    
    <br>
    
    <br>
    <div id="word">
        <p1 id="english">{{.word.English}}</p1>
        <br>
        <br>
    <br>
    <br>
    
    <br>
    <br>
        <p2 id="chinese" hidden="hidden">{{.word.Chinese}}</p2>
    </div>
    <br>
    <br>
    <br>
    
   
    <br>
    <br>
    <!-- 按钮组 -->
   <div id="bg">
    <button id="b1" onclick="next()">切换</button>
    <button id="b2" onclick="show()">中文</button>
    <button id="b3" onclick="del()">移除</button>
    <button id="b4" onclick="musicPlay()">发音</button>
   </div> 
    
</body>
</html>